header {
    background-color: #ff5000;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    left: 0px;
    top: 0px;
    color: white; /* Color de texto blanco */
}

header img {
    width: 10%;
}

nav li {
    right: 0;
    margin: 20px;
}

nav a {
    text-transform: uppercase;
    color: white; /* Color de texto blanco */
    font-weight: bold;
    font-size: 22px;
    text-decoration: black;
}

/* Estilos para el navbar de Bootstrap */
.navbar {
    background-color: #ff5000; /* Fondo naranja */
}

.navbar .navbar-brand {
    color: white !important; /* Color de texto blanco importante */
}

.navbar .nav-link {
    color: white !important; /* Color de texto blanco importante */
}

.nav-button{
    margin: 20px 5px;
    font-weight: bold;
    font-size: 22px;
}
