@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "montserrat",sans-serif;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	  scrollbar-width: none; /* Hide scrollbar Firefox */
}

.carousel-inner img {
    height: 600px; /* Puedes ajustar el valor según tu preferencia */
    object-fit: cover;
}

.btn-primary{
background-color: #ff5000;
color: #f1f1f1;

}

.services{
  padding: 40px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}

.row-services{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service{
  background: #fff;
  padding: 30px;
}
.service img{
  width: 200px;
  height: 200px;
  border-radius:50%;
}

.testimonials{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
  }
  .inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .border{
    width: 160px;
    height: 5px;
    background: #ff5000;
    margin: 26px auto;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonial{
    background: #fff;
    padding: 30px;
  }
  .testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .stars{
    color: #ff5000;
    margin-bottom: 20px;
  }
  
  
  @media screen and (max-width:960px) {
  .col{
    flex: 100%;
    max-width: 80%;
  }
  }
  
  @media screen and (max-width:600px) {
  .col{
    flex: 100%;
    max-width: 100%;
  }
  }

  .buttons_social{
    background-color: #f1f1f1;
  }
  
  .buttons {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
  }
  
  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #ff5000;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .buttons a:hover {
    transform: scale(1.2);
  }