/* CSS Document */
*{
	border:0;
	margin:0;
	padding:0;
		
}



body{
	
	/*background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );*/
	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width:100%;
	height:100%;
	z-index: -99;
}

.filtro{
	height: 650px;
	width: 100%;
	background:rgba(5,5,5,0.5);

}
.deepshadow {
	color: #e0dfdc;
	text-align: center;
    background-color: transparent;
    letter-spacing: .2em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
  }
/* para efecto texto*/
.text--line {
  font-size: 3.8em;

}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100%;
  margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 1px;
  -webkit-animation: stroke-offset 9s infinite linear;
          animation: stroke-offset 9s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: white;
  stroke-dashoffset: 35%;
}
.text-copy:nth-child(2) {
  stroke: white;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(3) {
  stroke: white;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: white;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(5) {
  stroke: white;
  stroke-dashoffset: 7%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 65%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 65%;
    stroke-dasharray: 0 87.5%;
  }
}

/**/
.parallaxinicio {
    /* The   image background: url("../imagenes/fondo1.jpg"); used https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_parallax */
    
    background: url("../imagenes/fondo1.jpg");
    /* Set a specific height */
    min-height: 550px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*carrusel inicio*/
hgroup {

	padding: 20px;
  	display: inline-block;
  	background: #B9121B;
  	opacity: 0.8;
  	border-radius:2px;

}


.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*carrusel inicio*/

h1 {text-transform:uppercase; font-weight:500;

}
        .carousel-control.right, .carousel-control.left{ background:none;}
        .btn-capsul {border-radius:30px;}
        .full-width-navigation { position: absolute;  width: 100%; top:40%;}
        .full-width-navigation .carousel-control .glyphicon-chevron-right {right:10%}
        .full-width-navigation .carousel-control .glyphicon-chevron-left {left:10%}
        .small-width-navigation {bottom: 34%; position: absolute; width: 5%;}
        .social-links span {width:40px; height:40px; border:1px solid #fff; color:#fff; border-radius:50%; text-align:center; line-height:40px; margin: 20px 10px;}
        .banner-01 {background: #CCCCCC; float: left; width: 100%;  padding: 30px 0; margin-bottom:50px; position:relative;}
      
.action-sec{width:100%; float:left; background:#222}
.action-box{float:left; width:100%; text-align:center;}
.action-box h2{color:#fff; font-size:15px;}

.exfectoTxt {
color: white;
text-shadow:
4px 4px 0px grey,
font-size: 40px;
font-family: 'ARIAL', cursive;
}

.parallaxempresa {
    
    background-image: url("../imagenes/fondo2.jpg");
 	min-height: 650px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallaxrutas {
    /* The image used https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_parallax */
    background-image: url("../imagenes/fondo3.jpg");
	min-height: 650px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxunidades {
    /* The image used https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_parallax */
    background-image: url("../imagenes/fondo4.jpg");
    min-height: 650px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallaxreclutamiento {
    /* The image used https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_parallax */
    background-image: url("../imagenes/fondo7.jpg");
    min-height: 650px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallaxservicios {
    /* The image used https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_parallax */
    background-image: url("../imagenes/fondo5.jpg");
    min-height: 650px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallaxcontacto {
    /* The image used https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_parallax */
    background-image: url("../imagenes/fondo6.jpg");
    min-height: 650px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
	
	color:#624C48;
}



/* para el footer*/
.footer-distributed{
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */


.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  red;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #818181;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #818181;
	color: black;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #818181;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #818181;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #818181;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #818181;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #818181;
	border-radius: 2px;

	font-size: 20px;
	color: #818181;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.list-group{

		width: 100%;
	}
	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
/* fin footer*/
.img-responsive{

	height:75%;
	width:65%;

}

.panel-body{
	
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );


}

.hvr-underline-from-center{
	
	color:#624C48;

}
.container{
	
	background:transparent;
	border-radius:5px;
	border: red;
	height:100%;
	margin-right:auto;
	margin-left:auto;
	margin-top:10px;
	box-sizing:border-box;
	margin-top: 0;
 	width: 90%;
}

/* Underline From Center */
.hvr-underline-from-center {

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {

    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #BD020B;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {

    left: 0;
    right: 0;
}
/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {

   	display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {

    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #BD020B;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.panel-danger > .panel-heading {

	color: white;
	background-color: #952107;
	border-color: #952107;
	height:100%;
	width:100%;
}

.btn-default{

  	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );

}


.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {

    color: red;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {

    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/* Fix bootstrap */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {

    background: none;
    color: red;
}
.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open>a:focus, .navbar-default .navbar-nav > .open > a:active {

    background: none;
    color: red;
}

.navbar{
	
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
	border-bottom-width: groove;
	border-bottom-color: #952107;
	
}

p.textMenu{
	
	font-size: 100%;
	font-family:arial, "courier new", impact;
	color:#BD020B;
	font-weight: bold;
	text-align: center;
	padding-top:5px;
	-webkit-transition: padding-top 0.4s;
	box-sizing:border-box;

}

p.textFooter{
	
	font-size: 0.4em;
	font-family:arial, "courier new", impact;
	color:#BD020B;
	font-weight: bold;
	text-align: center;
	padding-top:35px;
	
}

header {
  
  width: 100%;
  position: fixed;
  z-index: 10;

}

.nav-tabs > li > a{

  color:#BD020B;

}

.nav-tabs > li > a:hover{
  

    color:#BD020B;
}

@media screen and (max-width:1000px){
	

.img-responsive{
	
	max-width:35%;
}

.navbar{

	height:100%;
	margin-top: 0;
}

.videoServicio{

	height:150px;

}

td{

	width:0;

}

}

@media screen and (max-width:800px){

ul.list-group{

		width: 100%;
	}

.container{

	margin-top: 0;
 	width: 100%;

}

td{

	width:0;

}
.videoServicio{

	height:150px;

}

.img-responsive{
	
	max-width:30%;
}

.navbar{

	height:20%;
}

}

@media screen and (max-width:600px){
	
	body{

		padding-left: 0;
	padding-right: 0;

	}
	ul.list-group{

		width: 100%;
	}

	.col-md-12{
	padding-left: 0;
	padding-right: 0;

	}
	

.videoServicio{

	height:150px;

}

td{

	width:0;

}
.img-responsive{
	
	max-width:25%;
}

.navbar{

	height:20%;
}

}


.bigicon {

    font-size: 35px;
    color: white;
}

#formul {

    padding: 20px 0px 0px 30px;   /* margen con valores: arriba - derecha - abajo - izquierda */ 
    font-family:verdana,arial; 
    font-size:9pt; 
}  

.campos {  

	font-family:arial, "courier new", impact;
	color:#BD020B;
	font-weight: bold;
    width: 500px;                 /* anchura de campos de formulario */  
    font-size:12pt;                /* tamaÃ±o de la letra*/   
    color:black;                 /* color del texto */   
    border: 1px dotted red;        /* color del borde puede ser solid Ã³ dotted */   
    background-color:white;    /* color del fondo */   
    border-radius:5px;
}  

.boton{ 

    font-size:12px; 
    font-family:arial, "courier new", impact;
    font-weight:bold; 
    color:#0000FF; 
    background:#A4C1FF; 
    border:0px; 
    width:120px; 
    height:25px; 
} 

#b_reset {  

    margin: 0px 0px 0px 0px;    /* margen con valores: arriba - derecha - abajo - izquierda */  
    border-radius:5px;
}  

#b_submit {  

    margin: -25px 0px 0px 380px;    /* margen con valores: arriba - derecha - abajo - izquierda */ 
    border-radius:5px; 
}


/* ESTILOS PARA IMAGENES EN SERVICIOS*/

@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.panel-image img.panel-image-preview {
    width: 100%;
	border-radius: 4px 4px 0px 0px;
}

.panel-heading ~ .panel-image img.panel-image-preview {
	border-radius: 0px;
}

.panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
	overflow: hidden;
}
.panel-image ~ .panel-footer a {
	padding: 0px 10px;
	font-size: 1.3em;
	color: rgb(100, 100, 100);
}

.panel-image.hide-panel-body ~ .panel-body {
	height: 0px;
	padding: 0px;
}

/* estilos para tabla de rutas*/
/* Styles for Pricing Tables */



h1 {color:#2c3e50;}
h4 a {color:#ff9715; text-decoration:none;}
h4 a:hover{color:#2c3e50;}





.medium {
    float: left;
    margin:20px 0;background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAIfP378zwjjgzj8/PyMYAEYB8RmROaABAAVMg/XkcvroQAAAABJRU5ErkJggg==   ) repeat;

    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
	border:1px solid #a12f23;
	border-bottom:10px solid #a12f23;

    
}



.pricing-table strong { font-weight: 700; color: #3d3d3d; }

.pricing-table-header-tiny {
    padding: 5px 0 5px 0;
    background: #16a085;
	border-bottom:10px solid #14937a;
}

.pricing-table-header-small {
    padding: 5px 0 5px 0;
    background: #f39c12;
	border-bottom:10px solid #cd8109;

}

.pricing-table-header-medium {
    padding: 5px 0 5px 0;
    background: grey;
	border-bottom:10px solid #a12f23;

}

.pricing-table-header-pro {
    padding: 5px 0 5px 0;
    background: grey;
	border-bottom:10px solid grey;
}

.pricing-table-header-tiny h2, .pricing-table-header-small h2, .pricing-table-header-medium h2, .pricing-table-header-pro h2 {  font-weight: 700; color:#FFF; }
.pricing-table-header-tiny h3, .pricing-table-header-small h3, .pricing-table-header-medium h3, .pricing-table-header-pro h3 { font-weight: 500; color:#FFF;  }


.pricing-table-text {
    margin: 15px 30px 0 30px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px solid #ddd;
    text-align: justify;
    line-height: 30px;
    font-size: 16px;
    color: #888;
}

.pricing-table-features {
    margin: 15px 10px 0 10px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px dashed #888;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    color: black;
}

.pricing-table-signup-tiny {
    margin-top: 25px;
    padding-bottom: 10px;
}

.pricing-table-signup-tiny a {
    display: inline-block;
    width:50%;
    height: 50px;
    background: #16a085;
    line-height: 50px;
    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.pricing-table-signup-tiny a:hover {
    text-decoration: none;
    background: #14937a;
	color: #fff;

  
}

.pricing-table-signup-tiny a:active {
    background: #14937a;
	color: #fff;
}


.pricing-table-signup-small {
    margin-top: 25px;
    padding-bottom: 10px;
}

.pricing-table-signup-small a {
    display: inline-block;
    width:50%;
    height: 50px;
    background: #f39c12;
    line-height: 50px;
    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
   
}

.pricing-table-signup-small a:hover {
    text-decoration: none;
	background-color:#cd8109;
	color: #fff;
}

.pricing-table-signup-small a:active {
    background-color:#cd8109;
	color: #fff;

}

.pricing-table-signup-medium {
    margin-top: 25px;
    padding-bottom: 10px;
}

.pricing-table-signup-medium a {
    display: inline-block;
    width:50%;
    height: 50px;
    background: #c0392b;
    line-height: 50px;
    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
   
}

.pricing-table-signup-medium a:hover {
    text-decoration: none;
	background-color:#a12f23;
	color:#FFF;
}

.pricing-table-signup-medium a:active {
    background-color:#a12f23;
	color: #fff;

}

.pricing-table-signup-pro {
    margin-top: 25px;
    padding-bottom: 10px;
}

.pricing-table-signup-pro a {
    display: inline-block;
    width:50%;
    height: 50px;
    background: #2980b9;
    line-height: 50px;
    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.pricing-table-signup-pro a:hover {
    text-decoration: none;
	background-color:#1d6391;
	color: #fff;
	}

.pricing-table-signup-pro a:active {
    background-color:#1d6391;
	color: #fff;

}

.top {margin-top:20px;}

.space {margin:10px;}

/*Estilos para el formulario reclutamiento*/

 
.form_hint, .required_notification {
    font-size: 11px;
}
 
/* === List Styles === */
.contact_form ul {
    width: 750px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}
 
.contact_form li {
    padding: 12px;
    border-bottom: 1px solid #eee;
    position: relative;
}
 
    .contact_form li:first-child, .contact_form li:last-child {
        border-bottom: 1px solid #777;
    }
 
/* === Form Header === */
.contact_form h2 {
    margin: 0;
    display: inline;
}
 
.required_notification {
    color: #d45252;
    margin: 5px 0 0 0;
    display: inline;
    float: right;
}
 
/* === Form Elements === */
.contact_form label {
    width: 150px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}
 
.contact_form input {
    height: 20px;
    width: 220px;
    padding: 5px 8px;
}
 
.contact_form textarea {
    padding: 8px;
    width: 300px;
}
 
.contact_form button {
    margin-left: 156px;
}
 
/* form element visual styles */
.contact_form input, .contact_form textarea {
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
    padding-right: 30px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}
 
    .contact_form input:focus, .contact_form textarea:focus {
        background: #fff;
        border: 1px solid #555;
        box-shadow: 0 0 3px #aaa;
        padding-right: 70px;
    }
 
    /* === HTML5 validation styles === */
    .contact_form input:required, .contact_form textarea:required {
        background: #fff url(images/red_asterisk.png) no-repeat 98% center;
    }
 
        .contact_form input:required:valid, .contact_form textarea:required:valid {
            background: #fff url(images/valid.png) no-repeat 98% center;
            box-shadow: 0 0 5px #5cd053;
            border-color: #28921f;
        }
 
    .contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
        background: #fff url(images/invalid.png) no-repeat 98% center;
        box-shadow: 0 0 5px #d45252;
        border-color: #b03535;
    }
 
/* === Form hints === */
.form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left: 8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    display: none;
}
 
    .form_hint::before {
        content: "\25C0";
        color: #d45252;
        position: absolute;
        top: 1px;
        left: -6px;
    }
 
.contact_form input:focus + .form_hint {
    display: inline;
}
 
.contact_form input:required:valid + .form_hint {
    background: #28921f;
}
 
    .contact_form input:required:valid + .form_hint::before {
        color: #28921f;
    }
 
/* === Button Style === */
button.submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
 
    button.submit:hover {
        opacity: .85;
        cursor: pointer;
    }
 
    button.submit:active {
        border: 1px solid #20911e;
        box-shadow: 0 0 10px 5px #356b0b inset;
        -webkit-box-shadow: 0 0 10px 5px #356b0b inset;
        -moz-box-shadow: 0 0 10px 5px #356b0b inset;
        -ms-box-shadow: 0 0 10px 5px #356b0b inset;
        -o-box-shadow: 0 0 10px 5px #356b0b inset;
    }
   