body{
    font-family: 'Segoe UI';
    background-color: #bbbbbb;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title{
    color: #ff5000;
    font-weight: bold;
}
.about{
    margin-top: 140px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 25px;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
}

button{
    margin-right: 20px;
    width: 100px;
    height: 40px;
    border: none;
    background-color:  #E5E1DD;
    font-weight: bold;
    border-radius:10px;
    
}

button:hover{
    background-color: #ff5000;
    color: #ffffff;
}

#misionId{
    display: none;   
}

#visionId{
    display: none;   
}

.misionyvision {
    padding: 1rem;
    font-size: 20px;
    border-radius: 6px;
    background-color: #E5E1DD;
    font-weight: bold;
    color: #000000;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 40px;
    text-align: center;
}
